*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EBB24C;
}
.admin-prin{
    display: absolute;
    width: 100px;
    height: 100px;
    margin: 50px 5px;
    border-radius: 40px;
    margin-left: 30px;
}
.monlo{
    display: flex;
    margin-top: 20px;
}
p.info{
    margin-top: 10px;
    top: 10px;
}
/*img{
    display: flex;
    margin-left: 43%;
}*/
/* MON TABLEAU*/

/*body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #EBB24C;

}*/

.tableau-style{
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    margin: 100px auto;
    border: 1px solid #000;
}
thead tr{
    background-color: #012B28;
    color: #ffff;
    text-align: left;
}
th, td{
    padding: 15px 20px;
}
tbody tr, td, th {
    border: 1px solid black;

}
tbody tr:nth-child(even){
    background-color: #819897;
}
tbody tr:nth-child(){
    background-color: #ffff;
}

/*body div{
    padding: 5rem;
    justify-content: center;

}*/
body label{
    display: block;
    line-height: 40px;
}
/*a{
    position: relative;
    margin: 480px;
    top: 42%;
    left: 25%;
    text-decoration: none;
    color: white;
    background-color: #012B28;
    background-size: 20px;
}*/
.option-input:checked::after{
    animation: click-wave 0.5s;
    background: #EBB24C;
    content: "";
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio{
    border-radius: 50%;
}
.option-input.radio::after{
    border-radius: 50%;
}
@keyframes click-wave{
    0%{
        height: 40px;
        width: 40px;
        opacity: 0.3;
        position: relative;
    }
}
.option-input{
    position: relative;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 10px;
    transition: all 0.15s ease-out;
    background: #ffff;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}