*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #EBB42C;
    line-height: 1.5;
    background-position: center center;

}
.conteneur{
    width: 40%;
    height: 45%;
    background: rgba(0,0,0,0.5);
    padding: 28px;
    margin: 0 28px;
    margin-top: 300px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
    position: center;
    margin-left: 600px;
}
#showcase{
    background-image: url(../image/banane32.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;

}
#showcase h1{
    font-size: 24px;

}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    border: #EBB42C 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#showcase .button :hover{
    background: #012b28;
    color: #ffff;
}